<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

</head>
<body>
<div class="form-container">
    <div class="greeting">
        <h2>{{ greeting }}</h2>
    </div>
    <form action="login.twig" class="inputs-container">

        <input type="submit" class="login-button" id="login-button" name="submit" value="Sign out" >
    </form>

</div>
</body>
</html>